@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


* {
    font-family: 'Poppins';
}
body{
    background-color: rgb(50, 125, 131) ;
}
.main{
    color: white;
    
}
.red-span{
    color: red;
}
.profile{
    position: relative;
    height: 14%;
    width: 20%;
    margin-left: 20px;
    margin-bottom: 20px;

}
.profile-image{
    background-image: url("profile.png");
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 100%;
    border-radius: 50%; 
    background-color: gainsboro;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.logout-sec{
    position: relative;
    display: inline-block;
    height: 130px;
    width: 13%;
    margin-left: 15px;
}

.profile-control{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 400%;
    height: 20%;
    position: relative;
}

.profile-control > i{
    display: inline-block;
    width: 30%;
    height: 100%;
    cursor: pointer;
}
/* CSS for main navigation section */
.menu{
    height: 73%;
    width: 101%;
    background-color: rgb(10, 36, 59);
}
.appstat{
    display: flex;
    justify-content: space-around;
    width: 20%;
    height: 60px;
    position: absolute;
    left: 0%;
}
.as1{
    background-color: white;
    border-radius: 12px;
    width: 100px;
    text-align: center;
    color: rgb(10, 36, 59);
    font-weight: bolder;
}

.main-nav{
    font-size: x-large;
    height: 7%;
    padding-left: 20px;
    padding-top: 10px;
    background-color: rgb(74, 92, 111);
    color: white;
}
.flex{
    display: flex;
    flex-direction: column;
    width: 18.5%;
    height: 99.5%;
    border-right: 7px solid lightskyblue;
}
.control-center{
    display: list-item;
    height: 70vh;
}
.control-center > button , .dropbtn{
    color:white;
    filter: opacity(0.3);
    width: 100%;
    height: 10%;
    background-color: transparent;
    font-size: large;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
}
.control-center > button:hover{
    filter: opacity(1);
    text-shadow: 0px 0px 3px  white;
    transition: 0.4s;
}

.control-center > button >i{
    padding-right: 8px;
}

#nameselect{
    visibility: hidden;
}

#dateselect{
    visibility: hidden;
}

/* end css main navigation section */

/* css for gridview */

.grid-view{
    position: absolute;
    top: 10%;
    right: 1.5%;
    height: 98%;
    width: 78%; 
    border-radius: 10px;
    background-color: white;
    z-index: 100;
    overflow-y: scroll;
}

label{
    font-weight: bold;
}
table{
    padding: 14px;
}



fieldset{
    width: 50%;
    border: 2px solid rgb(10, 36, 59);
    border-radius: 20px;
    height: fit-content;
}
legend{
    border-radius: 20px;
    font-weight:bold;
    font-size:large;
}
#profile-sec{
    display: none;
    margin: 20px;
    padding: 25px;
    
}

#port-sec{
    display: none;
    margin: 20px;
    padding: 25px;
    
}
#visit-sec{
    display: none;
    margin: 20px;
    padding: 25px;
}
/* end css gridview section */
/* Dropdown Button */
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus , .btn-span:hover {
    color: white;
    filter: opacity(1);
    text-shadow: 0px 0px 4px white;
    transition: 0.4s;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    display: none;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    left: 240px;
    top: -40px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;
    font-size: medium;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    background-color: rgb(14, 44, 70);
    color:white;
    border: none;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .btn-span{
    filter: opacity(0.4);
    cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
/* end of dropdown list */

